body,html {
    background-image: url('https://insajder.in/img/admin-background.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#profile-img {
    height:180px;
}
.h-80 {
    height: 80% !important;
}