body{
  background-color: #e6ecf0;
  padding-top:0px;
}



#form-container {
    width: 800px;
  }
  
  .row {
    margin-top: 15px;
  }

  .btn {
    margin-left: 15px;
  }
  
  .change-link {
    background-color: #000;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    bottom: 0;
    color: #fff;
    opacity: 0.8;
    padding: 4px;
    position: absolute;
    text-align: center;
    width: 150px;
  }
  .change-link:hover {
    color: #fff;
    text-decoration: none;
  }

  #editor-container {
    height: 400px;
    background-color: #fff;
  }